/*------- Navigation CSS -------------*/ 
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.nav li {
    float: left;
  }
  
.nav li a {
    font-size: 20px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.nav  li a:hover {
    background-color:#4CAF50;
  }

  /*----------- Genres Index----------*/
  .grid-container-genres-index {
    display: grid;
    height: 400px;
    align-content: center;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #bec3c7;
    padding: 10px;
  }
  
  .grid-container-genres-index > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  #genresIndexH1 {
    text-align: center;
    
  }

  .grid-container-genres-index div a {
      text-decoration: none;
  }

 /*----------- Video Game Index----------*/

 * {
  box-sizing: border-box;
}


/* Float four columns side by side */
.videoGameColumn {
  float: left;
  width: 33.3%;
  padding: 10px 10px;
}

/* Remove extra left and right margins, due to padding */
#videoGamesIndex {
  margin: 0 -5px;
}

/* Clear floats after the columns */
#videoGamesIndex:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.videoGameCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* new video Game link */
#newVideoGameLink {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 190px;
}

#newVideoGameLink a{
  text-decoration: none;
  font-size: 18px;
}

/*----------- New Vidoe Game Form---------*/
  /* Add padding to containers */
  .videoGameFormContainer {
    padding: 16px;
    background-color: white;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=radial] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=radial]:focus {
    background-color: #ddd;
    outline: none;
  }
  

  
  /* Set a style for the submit button */
  #submitBtn{
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 20px;
  }
  
 #submitBtn:hover {
    opacity: 1;
  }
  

